{% extends 'base.html.twig' %}
{% form_theme formRegister 'bootstrap_4_layout.html.twig' %}
{% block body %}
{{form_start(formRegister)}}
{{ form_errors(formRegister) }}

{{form_row(formRegister.fullname,{'attr':{'placeholder':"Confirm your password",'style':"border:1px solid grey"}})}}
{{form_row(formRegister.email,{'attr':{'placeholder':"Enter your email-adress",'style':"border:1px solid grey"}})}}
{{form_row(formRegister.password,{'attr':{'placeholder':"Enter your password ",'style':"border:1px solid grey"}})}}

<button type="submit" class="btn btn-info"> Save </button>
{{form_end(formRegister)}}
{% endblock %}


